<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archiving</title>
</head>
<body>
    <h1>ARCHIVING</h1>
    <div>
        <ul class="sidebar-nav">
            {% if user.is_authenticated %}
                <li>User: {{ user.get_username }}</li>
                <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
            {% endif %}
        </ul>
    </div>

    <div>
        <h2>Список созданных штативов</h2>
        <table border="1">
            <thead><th>ID штатива</th>
                <th>ID типа штатива</th>
                <th>Название типа штатива</th>
                <th>Цвет</th>
                <th>Дата создания</th>
                <th>Статус</th></thead>
            {% for archive_rack in archive_racks %}
            <tr>
                <td>{{ archive_rack.id }}</td>
                <td>{{ archive_rack.rack_type_name.id }}</td>
                <td>{{ archive_rack.rack_type_name.rack_type_name }}</td>
                <td>{{ archive_rack.rack_type_name.color }}</td>
                <td>{{ archive_rack.close_data }}</td>
                <td>{{ archive_rack.status }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div>
    <h2>Введите ID штатива для архивации</h2>
        <form method="POST" action="archivation/">
            {% csrf_token %}
            <p>Номер штатива: <br />
                <input name="archive_rack_id"/>
            </p>
            <input type="submit" value="Send" />
        </form>
    </div>
</body>
</html>