<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>

    <style>
        a {text-decoration: none;
            
        }

        body {
            margin-top: 20px;
            margin-left: 40px;
            margin-bottom: 20px;
            margin-right: 40px;
        }
        
        .check_ct, .check_wf {
            border: solid 1px lightgray;
            -webkit-column-width: 200px;
            -moz-column-width: 200px;
            column-width: 200px;
            -webkit-column-count: 6;
            -moz-column-count: 6;
            column-count: 6;
            -webkit-column-gap: 30px;
            -moz-column-gap: 30px;
            column-gap: 30px;
            -webkit-column-rule: 1px solid #ccc;
            -moz-column-rule: 1px solid #ccc;
            column-rule: 1px solid #ccc;
            padding: 20px;
            margin: 20px;
        }

        label {font-size: 20px;}
        .select{
            width: 20%;
        }

        .input{
            width: 40%;
        }

        .alert{
            width: 40%;
        }

        img{
            width: 60px;
        }

    </style>

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <img src="https://cdn-icons-png.flaticon.com/512/900/900626.png?w=826&t=st=1679244532~exp=1679245132~hmac=1b8c11fc22a3fce7b78b6d05df2aaf4fcf15d83a8efec95e066fe73f296bbf3a">
            </div>            
            <div class="col-sm-9">
                <h1>MANAGE</h1>
            </div>
            <div class="col-sm-2">
                <ul class="sidebar-nav">
                    {% if user.is_authenticated %}
                        <li>User: {{ user.get_username }}</li>
                        <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
            <span class="border border-primary"></span>
        </div>
    </div>

    <p>
        <div>
            <h3><a href="{% url 'index'%}?next={{request.path}}" class="link-success">Просмотр созданных штативов</a></h3>
        </div>
    </p>

    <div>
        <h3>Добавление типов штатива</h3>
    </div>

    {% if messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <div class="container text-center">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    {% endif %}
    

    <form method="POST">
        {% csrf_token %}
        <div class = "input">
        <p>
            <div class="input-group mb-3">
                <label class="input-group-text" id="basic-addon1">Введите название типа штатива</label><br>
                <input type="text" class="form-control" placeholder="Rack type name" aria-label="Username" aria-describedby="basic-addon1" name="rack_type_name" />
            </div>
        </p>
        <p>
            <div class="input-group mb-3">
                <label class="input-group-text" id="basic-addon1">Введите описание</label><br>
                <input type="text" class="form-control" placeholder="Description" aria-label="Username" aria-describedby="basic-addon1" name="description" />
            </div>
        </p>  
        <p>
            <div class="input-group mb-3">
                <label class="input-group-text" id="basic-addon1">Введите количество ячеек X</label><br>
                <input type="number" class="form-control" placeholder="Cell X" aria-label="Username" aria-describedby="basic-addon1" name="cell_x" />
            </div>
        </p>
        <p>
            <div class="input-group mb-3">
                <label class="input-group-text" id="basic-addon1">Введите количество ячеек Y</label><br>
                <input type="number" class="form-control" placeholder="Cell Y" aria-label="Username" aria-describedby="basic-addon1" name="cell_y" />
            </div>
        </p>
        <p>
            <div class="input-group mb-3">
                <label class="input-group-text" id="basic-addon1">Выберите цвет</label><br>
                <input type="text" class="form-control" placeholder="Color" aria-label="Username" aria-describedby="basic-addon1" name="color" />
            </div>
        </p>
        <p>
            <div class="input-group mb-3">
            <label class="input-group-text" id="basic-addon1">Введите срок хранения</label><br>
            <input type="number" class="form-control" placeholder="Storage time" aria-label="Username" aria-describedby="basic-addon1" name="storage_time" />
            </div>
        </p>
        </div>
        <div class = "select">    
            <p>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Выберите Локацию</label><br>
                    <select class="form-select" id="inputGroupSelect01" name="location">
                    {% for location in locations %}
                        <option value="{{location.id}}">{{location.location}}</option>
                    {% endfor %}
                    </select>
                </div>
            </p>
        </div>
        <div class = "select"> 
            <p>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Выберите Статус</label><br>
                    <select class="form-select" id="inputGroupSelect01" name="status">
                    {% for status in statuses %}
                        <option value="{{status.id}}">{{status.status}}</option>
                    {% endfor %}
                    </select>
                </div>
        </p>
        </div>
        

        <label>Выберите типы контейнера</label><br>
        <div class = check_ct>
        <p>
                        <div>
            {% for container_type in container_types %}
            <div class="input-group mb-3">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" name="container_types" value="{{container_type.id}}" />{{container_type.container_type}} <br />
                </div>
            </div>    
            {% endfor %}
            </div>
        </p>
        </div>

        <label>Выберите рабочие потоки</label><br>
        <div class = check_wf>       
        <p>
            <div>
            {% for workflow in workflows %}
            <div class="input-group mb-3">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" name="workflows" value="{{workflow.id}}" />{{workflow.workflow}} <br />
                </div>
            </div>
            {% endfor %}
            </div>
        </p>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <input class="btn btn-success me-md-2" type="submit" value="Сохранить" >
        </div>
    </form>
    </div>

</body>
</html>