<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <style>
        a {text-decoration: none;}
        .table_div {width: 70%;}
        
        body {
            margin-top: 20px;
            margin-left: 40px;
            margin-bottom: 20px;
            margin-right: 40px;
        }
        .select {
            width: 20%;
        }

        img{
            width: 60px;
        }
        
    </style>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <img src="https://cdn-icons-png.flaticon.com/512/900/900626.png?w=826&t=st=1679244532~exp=1679245132~hmac=1b8c11fc22a3fce7b78b6d05df2aaf4fcf15d83a8efec95e066fe73f296bbf3a">
            </div>
            <div class="col-sm-9">
                <h1>MANAGE</h1>
            </div>
            <div class="col-sm-2">
                <ul class="sidebar-nav">
                    {% if user.is_authenticated %}
                        <li>User: {{ user.get_username }}</li>
                        <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
            <span class="border border-primary"></span>
        </div>
    </div>

    <p>
        <div>
            <h3><a href="{% url 'create'%}?next={{request.path}}" class="link-success">Вернуться к созданию штативов</a></h3>
        </div>
    </p>

    <p>
        <div>
    <h3>Список типов штативов</h3>
        </div>
    </p>
    
    <div>
        <table class="table table-bordered border-primary">
            <thead><th>ID типа штатива</th>
                <th>Название</th>
                <th>X</th>
                <th>Y</th>
                <th>Цвет</th>
                <th>Время хранения</th>
                <th>Локация</th>
                <th>Статус</th>
                <th>Тип контейнера</th>
                <th>Поток</th>
                <th>Описание</th>
                <th>Действие</th></thead>
            {% for rack_type in rack_types %}
            <tr>
                <td>{{ rack_type.id }}</td>
                <td>{{ rack_type.rack_type_name }}</td>
                <td>{{ rack_type.cell_x }}</td>
                <td>{{ rack_type.cell_y }}</td>
                <td>{{ rack_type.color }}</td>
                <td>{{ rack_type.storage_time }}</td>
                <td>{{ rack_type.location.location }}</td>
                <td>{{ rack_type.status.status }}</td>
                <td>
                    {% for container_type in rack_type.container_types.all %}
                        {{container_type.container_type}};
                    {% endfor %}
                </td>
                <td>
                    {% for workflow in rack_type.workflows.all %}
                        {{workflow.workflow}};
                    {% endfor %}
                </td>    
                <td>{{ rack_type.description }}</td>    
                <td>
                    <a href="delete_rack_type/{{rack_type.id}}">Удалить</a>
                </td>        
            </tr>
            {% endfor %}
        </table>
    </div>

    <div>
        <h3>Добавление штатива</h3>
    <form method="POST">
        {% csrf_token %}
        <div class = "select">
            <p>
                <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Выберите Тип штатива</label><br>
                    <select class="form-select" id="inputGroupSelect01" name="rack_type_name">
                    {% for rack_type in rack_types %}
                        <option value="{{rack_type.id}}">{{rack_type.rack_type_name}}</option>
                    {% endfor %}
                    </select>
                </div>
            </p>
        </div>
        <input class="btn btn-success" type="submit" value="Сохранить" >
    </form>
    </div>


    <div class="table_div">
        <h3>Список штативов</h3>
        <table class="table table-bordered border-primary">
            <thead><th>ID штатива</th>
                <th>ID типа штатива</th>
                <th>Название типа штатива</th>
                <th>Дата создания</th>
                <th>Статус</th>
                <th>Действие</th></thead>
            {% for archive_rack in archive_racks %}
            <tr>
                <td>{{ archive_rack.id }}</td>
                <td>{{ archive_rack.rack_type_name.id }}</td>
                <td>{{ archive_rack.rack_type_name.rack_type_name }}</td>
                <td>{{ archive_rack.close_data }}</td>
                <td>{{ archive_rack.status }}</td>
                <td><a href="delete_archive_rack/{{archive_rack.id}}">Удалить</a></td>   
            </tr>
            {% endfor %}
        </table>
    </div>
        
</body>
</html>