<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archiving</title>
</head>
<body>
    <h1>ARCHIVING</h1>
    <div>
        <ul class="sidebar-nav">
            {% if user.is_authenticated %}
                <li>User: {{ user.get_username }}</li>
                <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
            {% endif %}
        </ul>
    </div>

    <div>
        <h2>Список созданных штативов</h2>
        <table border="1">
            <thead><th>ID штатива</th>
                <th>ID типа штатива</th>
                <th>Название типа штатива</th>
                <th>Цвет</th>
                <th>Дата создания</th>
                <th>Статус</th></thead>
            {% for archive_rack in archive_racks %}
            <tr>
                <td>{{ archive_rack.id }}</td>
                <td>{{ archive_rack.rack_type_name.id }}</td>
                <td>{{ archive_rack.rack_type_name.rack_type_name }}</td>
                <td>{{ archive_rack.rack_type_name.color }}</td>
                <td>{{ archive_rack.close_data }}</td>
                <td>{{ archive_rack.status }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="Submit" name="submit" value="Submit"/>
    </form>
        
    {% if submitbutton == "Submit" %}
    <h1>Your number is {{ number }}</h1>
    {% endif %}

</body>
</html>