<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <style>
        a {text-decoration: none;}
        body {
            margin-top: 20px;
            margin-left: 40px;
            margin-bottom: 20px;
            margin-right: 40px;
        }
        .btn {
            margin-bottom: 20px;
        }
        
    </style>
</head>
<body>
    <h1>VIEWING</h1>
    <ul class="sidebar-nav">
        {% if user.is_authenticated %}
            <li>User: {{ user.get_username }}</li>
            <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
        {% endif %}
    </ul>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input input class="btn btn-success" type="Submit" name="submit" value="Отправить"/>
    </form>

    {% if submitbutton == "Отправить" %}
    <h3>Report: {{ report }}</h3>    
    <h3>Sample_number is {{ find_sample }}</h3>
    <h3>Rack ID is {{ id }}</h3>
    <h3>X coord is {{ x }}</h3>
    <h3>Y coord is {{ y }}</h3>
    {% endif %}

</body>
</html>